# Background research_1

## Diabetes type 1 prevalence per country in 2022

In [1]:
import pandas as pd
import PyPDF2
import re
import psycopg2 as pg2

### Diabetes cases per country 2022 [[data source]](https://diabetesatlas.org/idfawp/resource-files/2022/12/IDF-T1D-Index-Report.pdf)

#### Extracting pdf table

In [3]:
# Open the file
f = open('IDF-T1D-Index-Report.pdf','rb')

In [4]:
# Define pdf reader
pdf_reader = PyPDF2.PdfFileReader(f)

Xref table not zero-indexed. ID numbers for objects will be corrected.

In [5]:
# Discover the number of pages in the document
pdf_reader.numPages

15

In [6]:
# We know that the actual table starts on page 10. Extract page 10
page_10 = pdf_reader.getPage(10)

In [7]:
# Extract text from page 10
page_10_text = page_10.extractText()
page_10_text

"Type 1 diabetes estimates in children and adults â€“ 2022 | www.diabetesatlas.org | 11\n0000001Country Age <20 years Age 20 - 59 years Age >=60 years Total\nAfghanistan5,487                                       4,370                                                120                                             9,964                                        \nAlbania 723                                           2,790                                                 898                                             4,406                                       \nAlgeria 46,642                                     103,731                                            13,423                                       163,767                                   \nAngola 3,946                                       8,074                                                207                                             12,237                                       \nAntigua and Barbuda 26                                              87                                                       13                                                126                                             \nArgentina 17,144                                     56,599                                              11,836                                       85,529                                      \nArmenia 774                                           2,334                                                 542                                             3,649                                        \nAruba 1                                                4                                                          1                                                  5                                                 \nAustralia 14,306                                    78,926                                               32,743                                       126,008                                   \nAustria 3,447                                       19,869                                               9,144                                         32,475                                      \nAzerbaijan 2,200                                       6,139                                                 838                                             9,183                                        \nBahamas 191                                            600                                                    89                                               880                                           \nBahrain 331                                           1,817                                                  132                                              2,281                                         \nBangladesh 5,719                                       18,558                                               617                                             24,878                                      \nBarbados 108                                           401                                                     116                                              624                                            \nBelarus 2,888                                       10,147                                               3,256                                         16,303                                     \nBelgium 4,575                                       25,778                                               12,291                                        42,637                                      \nBelize 39                                             108                                                     9                                                  157                                            \nBenin 1,101                                        2,488                                                 86                                               3,675                                        \nBhutan 151                                            308                                                    16                                                475                                            \nBolivia 1,056                                       1,591                                                  131                                              2,779                                        \nBosnia and Herzegovina 869                                           3,998                                                 1,359                                         6,224                                         \nBotswana 148                                           755                                                     43                                               946                                            \nBrazil 112,240                                   402,894                                            73,330                                      588,800                                  \nBrunei Darussalam 19                                              70                                                       9                                                  98                                              \nBulgaria 3,176                                       14,278                                               6,114                                          23,556                                      \nBurkina Faso 349                                           777                                                     19                                                1,146                                         \nBurundi 715                                           1,378                                                 42                                                2,135                                         \nCambodia 874                                           1,327                                                  66                                               2,267                                         \nCameroon 2,542                                        5,493                                                 160                                             8,188                                        \nCanada 32,211                                      177,426                                             75,724                                       285,324                                    \nCape Verde 43                                             238                                                     9                                                  291                                             \nCentral African Republic 82                                              125                                                      4                                                  211                                             \nChad 254                                           422                                                      14                                                690                                           \nChannel Islands 95                                             667                                                     201                                             962                                            \nChile 6,295                                       24,157                                               6,396                                         36,874                                     \nChina 66,040                                   318,949                                            63,452                                       448,480                                  \nColombia 3,561                                       12,263                                                2,215                                          18,043                                     \nComoros 112                                            198                                                     6                                                  316                                            \nCosta Rica 389                                           1,541                                                  362                                             2,289                                         \nCote d'Ivoire 2,500                                      5,147                                                 164                                             7,804                                       \nCroatia 2,008                                      8,313                                                 3,893                                         14,217                                       \nCuba 1,155                                        6,122                                                  2,070                                        9,348                                        \nCuraÃ§ao 2                                                5                                                          2                                                  9                                                 \nCyprus 401                                           2,611                                                  1,028                                         4,040                                       \nCzech Republic 5,556                                       27,175                                               11,407                                       44,144                                      \nDemocratic Republic of the Congo 5,811                                        12,283                                                423                                             18,534                                      \nDenmark 3,213                                        19,424                                               10,287                                       32,927                                      \nDjibouti 407                                          1,611                                                  73                                               2,090                                       \nDominican Republic 386                                           911                                                      124                                              1,421                                         \nEcuador 1,442                                        3,973                                                 595                                             6,007                                       \nEgypt 14,029                                     23,991                                               1,121                                           39,133                                      \nEl Salvador 557                                           1,143                                                  113                                              1,813                                         \nEquatorial Guinea 127                                            485                                                     12                                                623                                            \nEritrea 1,985                                       4,355                                                 132                                              6,468                                        \nEstonia 971                                           3,719                                                 1,733                                         6,426                                        \nEswatini 129                                            275                                                     9                                                  413                                            \nEthiopia 4,227                                        15,310                                               478                                             19,998                                      \nFederated States of Micronesia 1                                                1                                                          -                                             2                                                 \nFiji 37                                             77                                                       7                                                  121                                             \nFinland 6,230                                       38,903                                              24,557                                       69,685                                     \nFrance 24,884                                     112,754                                             64,467                                      202,160                                   \nFrench Guiana 219                                            503                                                    63                                               784                                            \nFrench Polynesia 10                                             31                                                        5                                                  46                                              \nGabon 196                                           757                                                     36                                               988                                            \nGambia 39                                             96                                                       2                                                  138                                            \nGeorgia 1,239                                        2,775                                                 468                                             4,483                                        \nGermany 40,390                                   252,997                                             138,120                                     431,313                                    \nGhana 2,761                                        7,883                                                 276                                             10,925                                      \nGreece 2,435                                       15,539                                               9,110                                         27,104                                      \nGrenada 53                                             155                                                     22                                                231                                             \nGuadeloupe 155                                           473                                                     179                                             807                                           \nGuam 1                                                3                                                          1                                                  5                                                 \nGuatemala 1,960                                       4,378                                                 362                                             6,702                                        \nGuinea 221                                            512                                                      15                                                748                                            \nGuinea-Bissau 31                                              64                                                       2                                                  97                                              \nGuyana 10                                             18                                                        2                                                  30                                              \nHaiti 390                                          423                                                     26                                                840                                           \nHonduras 997                                           2,052                                                 119                                              3,166                                        \nHong Kong 540                                          3,202                                                 1,244                                          4,982                                        \nHungary 4,594                                       23,033                                              9,485                                         37,087                                     \nIceland 150                                           856                                                     399                                             1,405                                        \nIndia 282,832                                   544,478                                            32,910                                       860,423                                   \nIndonesia 13,311                                      26,781                                               1,721                                          41,817                                      \nIran 19,758                                     75,568                                              8,941                                         104,230                                   \nIraq 12,373                                     26,080                                              1,414                                          39,875                                     \nIreland 3,563                                       16,842                                               6,005                                        26,412                                       \nIsrael 4,177                                       14,194                                               5,394                                         23,761                                      \nItaly 12,119                                      106,873                                            67,709                                      186,755                                   \nJamaica 428                                           1,452                                                  217                                              2,098                                        \nJapan 5,453                                       43,285                                               30,471                                      79,226                                      \nJordan 1,291                                        4,675                                                 377                                             6,344                                        \nKazakhstan 1,243                                        3,472                                                 512                                              5,231                                         \nKenya 6,237                                       16,432                                               427                                             23,096                                     \nKiribati 6                                                7                                                          -                                             13                                               \nKuwait 5,907                                      26,044                                              2,592                                          34,544                                     \nKyrgyzstan 480                                          950                                                    47                                               1,477                                        \n

In [8]:
# Close the file 
f.close()

#### Preprocessing the extracted text

In [9]:
# The rows are divided by \n symbol
# Splitting the whole text to obtain the rows
# Removing first two rows with the title and column names
table = page_10_text.split('\n')[2:]
table

['Afghanistan5,487                                       4,370                                                120                                             9,964                                        ',
 'Albania 723                                           2,790                                                 898                                             4,406                                       ',
 'Algeria 46,642                                     103,731                                            13,423                                       163,767                                   ',
 'Angola 3,946                                       8,074                                                207                                             12,237                                       ',
 'Antigua and Barbuda 26                                              87                                                       13                                                126                                             ',
 'Argentina 17,144                                     56,599                                              11,836                                       85,529                                      ',
 'Armenia 774                                           2,334                                                 542                                             3,649                                        ',
 'Aruba 1                                                4                                                          1                                                  5                                                 ',
 'Australia 14,306                                    78,926                                               32,743                                       126,008                                   ',
 'Austria 3,447                                       19,869                                               9,144                                         32,475                                      ',
 'Azerbaijan 2,200                                       6,139                                                 838                                             9,183                                        ',
 'Bahamas 191                                            600                                                    89                                               880                                           ',
 'Bahrain 331                                           1,817                                                  132                                              2,281                                         ',
 'Bangladesh 5,719                                       18,558                                               617                                             24,878                                      ',
 'Barbados 108                                           401                                                     116                                              624                                            ',
 'Belarus 2,888                                       10,147                                               3,256                                         16,303                                     ',
 'Belgium 4,575                                       25,778                                               12,291                                        42,637                                      ',
 'Belize 39                                             108                                                     9                                                  157                                            ',
 'Benin 1,101                                        2,488                                                 86                                               3,675                                        ',
 'Bhutan 151                                            308                                                    16                                                475                                            ',
 'Bolivia 1,056                                       1,591                                                  131                                              2,779                                        ',
 'Bosnia and Herzegovina 869                                           3,998                                                 1,359                                         6,224                                         ',
 'Botswana 148                                           755                                                     43                                               946                                            ',
 'Brazil 112,240                                   402,894                                            73,330                                      588,800                                  ',
 'Brunei Darussalam 19                                              70                                                       9                                                  98                                              ',
 'Bulgaria 3,176                                       14,278                                               6,114                                          23,556                                      ',
 'Burkina Faso 349                                           777                                                     19                                                1,146                                         ',
 'Burundi 715                                           1,378                                                 42                                                2,135                                         ',
 'Cambodia 874                                           1,327                                                  66                                               2,267                                         ',
 'Cameroon 2,542                                        5,493                                                 160                                             8,188                                        ',
 'Canada 32,211                                      177,426                                             75,724                                       285,324                                    ',
 'Cape Verde 43                                             238                                                     9                                                  291                                             ',
 'Central African Republic 82                                              125                                                      4                                                  211                                             ',
 'Chad 254                                           422                                                      14                                                690                                           ',
 'Channel Islands 95                                             667                                                     201                                             962                                            ',
 'Chile 6,295                                       24,157                                               6,396                                         36,874                                     ',
 'China 66,040                                   318,949                                            63,452                                       448,480                                  ',
 'Colombia 3,561                                       12,263                                                2,215                                          18,043                                     ',
 'Comoros 112                                            198                                                     6                                                  316                                            ',
 'Costa Rica 389                                           1,541                                                  362                                             2,289                                         ',
 "Cote d'Ivoire 2,500                                      5,147                                                 164                                             7,804                                       ",
 'Croatia 2,008                                      8,313                                                 3,893                                         14,217                                       ',
 'Cuba 1,155                                        6,122                                                  2,070                                        9,348                                        ',
 'CuraÃ§ao 2                                                5                                                          2                                                  9                                                 ',
 'Cyprus 401                                           2,611                                                  1,028                                         4,040                                       ',
 'Czech Republic 5,556                                       27,175                                               11,407                                       44,144                                      ',
 'Democratic Republic of the Congo 5,811                                        12,283                                                423                                             18,534                                      ',
 'Denmark 3,213                                        19,424                                               10,287                                       32,927                                      ',
 'Djibouti 407                                          1,611                                                  73                                               2,090                                       ',
 'Dominican Republic 386                                           911                                                      124                                              1,421                                         ',
 'Ecuador 1,442                                        3,973                                                 595                                             6,007                                       ',
 'Egypt 14,029                                     23,991                                               1,121                                           39,133                                      ',
 'El Salvador 557                                           1,143                                                  113                                              1,813                                         ',
 'Equatorial Guinea 127                                            485                                                     12                                                623                                            ',
 'Eritrea 1,985                                       4,355                                                 132                                              6,468                                        ',
 'Estonia 971                                           3,719                                                 1,733                                         6,426                                        ',
 'Eswatini 129                                            275                                                     9                                                  413                                            ',
 'Ethiopia 4,227                                        15,310                                               478                                             19,998                                      ',
 'Federated States of Micronesia 1                                                1                                                          -                                             2                                                 ',
 'Fiji 37                                             77                                                       7                                                  121                                             ',
 'Finland 6,230                                       38,903                                              24,557                                       69,685                                     ',
 'France 24,884                                     112,754                                             64,467                                      202,160                                   ',
 'French Guiana 219                                            503                                                    63                                               784                                            ',
 'French Polynesia 10                                             31                                                        5                                                  46                                              ',
 'Gabon 196                                           757                                                     36                                               988                                            ',
 'Gambia 39                                             96                                                       2                                                  138                                            ',
 'Georgia 1,239                                        2,775                                                 468                                             4,483                                        ',
 'Germany 40,390                                   252,997                                             138,120                                     431,313                                    ',
 'Ghana 2,761                                        7,883                                                 276                                             10,925                                      ',
 'Greece 2,435                                       15,539                                               9,110                                         27,104                                      ',
 'Grenada 53                                             155                                                     22                                                231                                             ',
 'Guadeloupe 155                                           473                                                     179                                             807                                           ',
 'Guam 1                                                3                                                          1                                                  5                                                 ',
 'Guatemala 1,960                                       4,378                                                 362                                             6,702                                        ',
 'Guinea 221                                            512                                                      15                                                748                                            ',
 'Guinea-Bissau 31                                              64                                                       2                                                  97                                              ',
 'Guyana 10                                             18                                                        2                                                  30                                              ',
 'Haiti 390                                          423                                                     26                                                840                                           ',
 'Honduras 997                                           2,052                                                 119                                              3,166                                        ',
 'Hong Kong 540                                          3,202                                                 1,244                                          4,982                                        ',
 'Hungary 4,594                                       23,033                                              9,485                                         37,087                                     ',
 'Iceland 150                                           856                                                     399                                             1,405                                        ',
 'India 282,832                                   544,478                                            32,910                                       860,423                                   ',
 'Indonesia 13,311                                      26,781                                               1,721                                          41,817                                      ',
 'Iran 19,758                                     75,568                                              8,941                                         104,230                                   ',
 'Iraq 12,373                                     26,080                                              1,414                                          39,875                                     ',
 'Ireland 3,563                                       16,842                                               6,005                                        26,412                                       ',
 'Israel 4,177                                       14,194                                               5,394                                         23,761                                      ',
 'Italy 12,119                                      106,873                                            67,709                                      186,755                                   ',
 'Jamaica 428                                           1,452                                                  217                                              2,098                                        ',
 'Japan 5,453                                       43,285                                               30,471                                      79,226                                      ',
 'Jordan 1,291                                        4,675                                                 377                                             6,344                                        ',
 'Kazakhstan 1,243                                        3,472                                                 512                                              5,231                                         ',
 'Kenya 6,237                                       16,432                                               427                                             23,096                                     ',
 'Kiribati 6                                                7                                                          -                                             13                                               ',
 'Kuwait 5,907                                      26,044                                              2,592                                          34,544                                     ',

In [10]:
# A row example
table[190]

'United States 170,408                                 880,937                                           397,447                                    1,447,298                                '

In [11]:
# Using RE searching for the first accurances of non-digits
c = re.search(r'\D+',table[190]).group()
c

'United States '

In [12]:
# Removing spaces
re.findall(r'[^\s]+',c)

['United', 'States']

In [13]:
# Joining back with a space in between
' '.join(re.findall(r'[^\s]+',c))

'United States'

In [14]:
# Searching for digit patterns
n_numbers = re.findall(r'\d+,\d{3}|\d+',table[190])
n_numbers

['170,408', '880,937', '397,447', '1,447', '298']

In [15]:
# For cases where the total count is in millions
n_numbers = n_numbers[:3]+[''.join(n_numbers[3:])]
n_numbers

['170,408', '880,937', '397,447', '1,447298']

In [17]:
# Creating lists for future columns
country = []
age_less_than_20= []
age_20_59 = []
age_more_than_60 = []
total = []

In [18]:
# Iterating through the whole table
for row in table:
    
    country_name = re.search(r'\D+',row).group() #serching for a country name
    country.append(' '.join(re.findall(r'[^\s]+',country_name)))#creating a list of countries
    
    numbers = re.findall(r'\d+,\d{3}|\d+',row) #searching for numbers
    
    new_numbers = []
    for n in numbers:
        new_numbers.append(n.replace(',','')) #creating a list of numbers, removing commas
    if len(new_numbers)!=4: #for cases where the last number is in millions
        new_numbers = new_numbers[:3]+[''.join(new_numbers[3:])] #joining last two numbers in the list in one
        
    #creating lists with numeric values
    age_less_than_20.append(new_numbers[0])
    age_20_59.append(new_numbers[1])
    age_more_than_60.append(new_numbers[2])
    total.append(new_numbers[3])

In [20]:
# Checking if the lists have the same length
print(len(country),len(age_20_59),len(age_less_than_20),len(age_more_than_60))

201 201 201 201

#### Creating a DF

In [21]:
# Assembling the created lists into a DF
diabetes_cases = pd.DataFrame({'country':country,'age_less_than_20':age_less_than_20,
                               'age_20_59':age_20_59,'age_more_than_60':age_more_than_60,'total':total})
diabetes_cases

                 country age_less_than_20 age_20_59 age_more_than_60   total
0            Afghanistan             5487      4370              120    9964
1                Albania              723      2790              898    4406
2                Algeria            46642    103731            13423  163767
3                 Angola             3946      8074              207   12237
4    Antigua and Barbuda               26        87               13     126
..                   ...              ...       ...              ...     ...
196             Viet Nam             4061      9897              839   14780
197       Western Sahara                7        45                1      54
198                Yemen             7109      8991              226   16313
199               Zambia             2279      4908              113    7299
200             Zimbabwe             1741      3167               95    5000

[201 rows x 5 columns]

In [22]:
diabetes_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           201 non-null    object
 1   age_less_than_20  201 non-null    object
 2   age_20_59         201 non-null    object
 3   age_more_than_60  201 non-null    object
 4   total             201 non-null    object
dtypes: object(5)
memory usage: 8.0+ KB

In [23]:
# Converting values in the numeric columns into integers
for c in diabetes_cases.columns[1:]:
    diabetes_cases[c] = diabetes_cases[c].astype(int)

ValueError: invalid literal for int() with base 10: ''

In [25]:
# Looks like there is an empty cell > filling it in with 0
for i in diabetes_cases.index:
    for c in range(1,5):
        if diabetes_cases.iloc[i,c] == '':
            diabetes_cases.iloc[i,c] = 0

In [26]:
# Converting again
for c in diabetes_cases.columns[1:]:
    diabetes_cases[c] = diabetes_cases[c].astype(int)

In [27]:
diabetes_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           201 non-null    object
 1   age_less_than_20  201 non-null    int64
 2   age_20_59         201 non-null    int64
 3   age_more_than_60  201 non-null    int64
 4   total             201 non-null    int64
dtypes: int64(4), object(1)
memory usage: 8.0+ KB

### Population by country 2022 [[data source]](https://www.kaggle.com/datasets/whenamancodes/world-population-live-dataset?resource=download)

In [29]:
# Read the file
population = pd.read_csv('World Population Live Dataset.csv')
population

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,Area (kmÂ²),Density (per kmÂ²),GrowthRate,World Population Percentage,Rank
0,CN,China,1425887,1424930,1393715,1348191,1264099,1153704,982372,822534,9706961,146.8933,1.00,17.88%,1
1,IN,India,1417173,1396387,1322867,1240614,1059634,870452,696828,557501,3287590,431.0675,1.01,17.77%,2
2,US,United States,338290,335942,324608,311183,282399,248084,223140,200328,9372610,36.0935,1.00,4.24%,3
3,ID,Indonesia,275501,271858,259092,244016,214072,182160,148177,115228,1904569,144.6529,1.01,3.45%,4
4,PK,Pakistan,235825,227197,210969,194454,154370,115414,80624,59291,881912,267.4018,1.02,2.96%,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,MS,Montserrat,4,5,5,5,5,11,11,11,102,43.0392,0.99,0.00%,230
230,FK,Falkland Islands,4,4,3,3,3,2,2,2,12173,0.3105,1.00,0.00%,231
231,NU,Niue,2,2,2,2,2,3,4,5,260,7.4385,1.00,0.00%,232
232,TK,Tokelau,2,2,1,1,2,2,2,2,12,155.9167,1.01,0.00%,233
233,VA,Vatican City,1,1,1,1,1,1,1,1,1,510.0000,1.00,0.00%,234

In [30]:
# Creating a DF with data from 2022
population_2022 = pd.DataFrame({'country':population['Name'],'population':population['2022']*1000})

In [31]:
population_2022

              country  population
0               China  1425887000
1               India  1417173000
2       United States   338290000
3           Indonesia   275501000
4            Pakistan   235825000
..                ...         ...
229        Montserrat        4000
230  Falkland Islands        4000
231              Niue        2000
232           Tokelau        2000
233      Vatican City        1000

[234 rows x 2 columns]

In [32]:
population_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     234 non-null    object
 1   population  234 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.8+ KB

### Merging two DFs

In [33]:
# Left merge on 'country' column
diabetes_cases_and_population = diabetes_cases.merge(population_2022,how='left',on='country')
diabetes_cases_and_population

,country,age_less_than_20,age_20_59,age_more_than_60,total,population
0,Afghanistan,5487,4370,120,9964,41129000.0
1,Albania,723,2790,898,4406,2842000.0
2,Algeria,46642,103731,13423,163767,44903000.0
3,Angola,3946,8074,207,12237,35589000.0
4,Antigua and Barbuda,26,87,13,126,94000.0
...,...,...,...,...,...,...
196,Viet Nam,4061,9897,839,14780,NaN
197,Western Sahara,7,45,1,54,576000.0
198,Yemen,7109,8991,226,16313,33697000.0
199,Zambia,2279,4908,113,7299,20018000.0
200,Zimbabwe,1741,3167,95,5000,16321000.0

In [36]:
# Checking for NaNs
diabetes_cases_and_population[diabetes_cases_and_population['population'].isna()]

,country,age_less_than_20,age_20_59,age_more_than_60,total,population
24,Brunei Darussalam,19,70,9,98,NaN
34,Channel Islands,95,667,201,962,NaN
40,Cote d'Ivoire,2500,5147,164,7804,NaN
43,CuraÃ§ao,2,5,2,9,NaN
46,Democratic Republic of the Congo,5811,12283,423,18534,NaN
58,Federated States of Micronesia,1,1,2,0,NaN
105,Macao,51,309,85,445,NaN
106,Macedonia,489,2137,569,3194,NaN
146,Republic of Congo,557,1319,43,1917,NaN
147,RÃ©union,84,300,32,415,NaN
168,St Lucia,72,266,35,373,NaN
169,St Vincent and the Grenadines,53,153,24,229,NaN
179,Timor L'Este,86,108,4,199,NaN
196,Viet Nam,4061,9897,839,14780,NaN

It looked like a few rows had missing values, which was probably due to a different spelling. Further along, each country was searched for in the population_2022 DF and if found the population data was transfered

In [37]:
for i in population_2022['country']:
    if 'Brunei' in i:
        print(population_2022[population_2022['country']==i])

    country  population
174  Brunei      449000

In [38]:
diabetes_cases_and_population.loc[24,'population'] = 449000

In [39]:
for i in population_2022['country']:
    if 'Islands' in i:
        print(population_2022[population_2022['country']==i])

             country  population
165  Solomon Islands      724000
                          country  population
199  United States Virgin Islands       99000
            country  population
204  Cayman Islands       69000
           country  population
208  Faroe Islands       53000
                      country  population
209  Northern Mariana Islands       50000
                      country  population
211  Turks and Caicos Islands       46000
              country  population
214  Marshall Islands       42000
                    country  population
220  British Virgin Islands       31000
          country  population
222  Cook Islands       17000
              country  population
230  Falkland Islands        4000

In [40]:
diabetes_cases_and_population.drop(index=34,inplace=True)

In [41]:
for i in population_2022['country']:
    if "d'Ivoire" in i:
        print(population_2022[population_2022['country']==i])

In [42]:
diabetes_cases_and_population.drop(index=40,inplace=True)

In [43]:
for i in population_2022['country']:
    if "Curacao" in i:
        print(population_2022[population_2022['country']==i])

     country  population
188  Curacao      191000

In [44]:
diabetes_cases_and_population.loc[43,'population'] = 191000

In [45]:
for i in population_2022['country']:
    if "Congo" in i:
        print(population_2022[population_2022['country']==i])

     country  population
14  DR Congo    99010000
                   country  population
113  Republic of the Congo     5970000

In [46]:
diabetes_cases_and_population.loc[146,'population'] = 5970000

In [47]:
diabetes_cases_and_population.loc[46,'population'] = 99010000

In [48]:
for i in population_2022['country']:
    if "Micronesia" in i:
        print(population_2022[population_2022['country']==i])

        country  population
193  Micronesia      114000

In [49]:
diabetes_cases_and_population.loc[58,'population'] = 114000

In [50]:
for i in population_2022['country']:
    if "Macau" in i:
        print(population_2022[population_2022['country']==i])

    country  population
166   Macau      695000

In [51]:
diabetes_cases_and_population.loc[105,'population'] = 695000

In [52]:
for i in population_2022['country']:
    if "Macedonia" in i:
        print(population_2022[population_2022['country']==i])

             country  population
149  North Macedonia     2094000

In [53]:
diabetes_cases_and_population.loc[106,'population'] = 2094000

In [54]:
for i in population_2022['country']:
    if "Reunion" in i:
        print(population_2022[population_2022['country']==i])

     country  population
160  Reunion      974000

In [55]:
diabetes_cases_and_population.loc[147,'population'] = 974000

In [56]:
for i in population_2022['country']:
    if "Lucia" in i:
        print(population_2022[population_2022['country']==i])

         country  population
189  Saint Lucia      180000

In [57]:
diabetes_cases_and_population.loc[168,'population'] = 180000

In [58]:
for i in population_2022['country']:
    if "Grenadines" in i:
        print(population_2022[population_2022['country']==i])

                              country  population
198  Saint Vincent and the Grenadines      104000

In [59]:
diabetes_cases_and_population.loc[169,'population'] = 104000

In [60]:
for i in population_2022['country']:
    if "Timor" in i:
        print(population_2022[population_2022['country']==i])

         country  population
154  Timor-Leste     1341000

In [61]:
diabetes_cases_and_population.loc[179,'population'] = 1341000

In [62]:
for i in population_2022['country']:
    if "Viet" in i:
        print(population_2022[population_2022['country']==i])

    country  population
15  Vietnam    98187000

In [63]:
diabetes_cases_and_population.loc[196,'population'] = 98187000

In [64]:
# Checking one more time for missing values
diabetes_cases_and_population[diabetes_cases_and_population['population'].isna()]

Empty DataFrame
Columns: [country, age_less_than_20, age_20_59, age_more_than_60, total, population]
Index: []

In [65]:
diabetes_cases_and_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 200
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           199 non-null    object
 1   age_less_than_20  199 non-null    int64
 2   age_20_59         199 non-null    int64
 3   age_more_than_60  199 non-null    int64
 4   total             199 non-null    int64
 5   population        199 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 19.0+ KB

In [66]:
# Converting values in'population' column to integers
diabetes_cases_and_population['population'] = diabetes_cases_and_population['population'].astype(int)

In [67]:
for i in diabetes_cases_and_population['country']:
    if "'" in i:
        print(diabetes_cases_and_population[diabetes_cases_and_population['country']==i])

          country  age_less_than_20  age_20_59  age_more_than_60  total  \
179  Timor L'Este                86        108                 4    199

     population
179     1341000

In [68]:
diabetes_cases_and_population.loc[179,'country'] = 'Timor L-Este'

### Calculating prevalence

In [69]:
# Calculating prevalence by dividing the number of cases by population per country
cases = diabetes_cases_and_population['total']
population = diabetes_cases_and_population['population']
diabetes_cases_and_population['prevalence'] = round(cases/population,6)

In [70]:
diabetes_cases_and_population

,country,age_less_than_20,age_20_59,age_more_than_60,total,population,prevalence
0,Afghanistan,5487,4370,120,9964,41129000,0.000242
1,Albania,723,2790,898,4406,2842000,0.001550
2,Algeria,46642,103731,13423,163767,44903000,0.003647
3,Angola,3946,8074,207,12237,35589000,0.000344
4,Antigua and Barbuda,26,87,13,126,94000,0.001340
...,...,...,...,...,...,...,...
196,Viet Nam,4061,9897,839,14780,98187000,0.000151
197,Western Sahara,7,45,1,54,576000,0.000094
198,Yemen,7109,8991,226,16313,33697000,0.000484
199,Zambia,2279,4908,113,7299,20018000,0.000365
200,Zimbabwe,1741,3167,95,5000,16321000,0.000306

### Saving as CSV

In [71]:
diabetes_cases_and_population.to_csv('DiabetesCasesPerCountry.csv',index=False)

### Uploading to SQL server

In [98]:
#secret = 'password'

In [99]:
conn = pg2.connect(database='diabetes_app',user='postgres',password=secret,port='5434')

In [100]:
cursor = conn.cursor()

In [101]:
cursor.execute('DROP TABLE IF EXISTS diabetes_cases_and_population;')

In [102]:
create_query = 'CREATE TABLE diabetes_cases_and_population (country VARCHAR NOT NULL, total INT NOT NULL, population INT NOT NULL, prevalence DOUBLE PRECISION NOT NULL);'

In [103]:
cursor.execute(create_query)

In [104]:
conn.commit()

In [105]:
insert_query = 'INSERT INTO diabetes_cases_and_population VALUES'

In [106]:
num_cols = diabetes_cases_and_population.columns[-3:]
num_cols

Index(['total', 'population', 'prevalence'], dtype='object')

In [107]:
for i in diabetes_cases_and_population.index:
    insert_query = insert_query + '(' + "'" + diabetes_cases_and_population.loc[i,'country'] + "'" + ','
    for c in num_cols:
        insert_query = insert_query + str(diabetes_cases_and_population.loc[i,c]) + ','
    insert_query = insert_query[:-1] + '),'
    
insert_query = insert_query[:-1] + ';'

In [108]:
insert_query

"INSERT INTO diabetes_cases_and_population VALUES('Afghanistan',9964,41129000,0.000242),('Albania',4406,2842000,0.00155),('Algeria',163767,44903000,0.003647),('Angola',12237,35589000,0.000344),('Antigua and Barbuda',126,94000,0.00134),('Argentina',85529,45510000,0.001879),('Armenia',3649,2780000,0.001313),('Aruba',5,106000,4.7e-05),('Australia',126008,26177000,0.004814),('Austria',32475,8940000,0.003633),('Azerbaijan',9183,10358000,0.000887),('Bahamas',880,410000,0.002146),('Bahrain',2281,1472000,0.00155),('Bangladesh',24878,171186000,0.000145),('Barbados',624,282000,0.002213),('Belarus',16303,9535000,0.00171),('Belgium',42637,11656000,0.003658),('Belize',157,405000,0.000388),('Benin',3675,13353000,0.000275),('Bhutan',475,782000,0.000607),('Bolivia',2779,12224000,0.000227),('Bosnia and Herzegovina',6224,3234000,0.001925),('Botswana',946,2630000,0.00036),('Brazil',588800,215313000,0.002735),('Brunei Darussalam',98,449000,0.000218),('Bulgaria',23556,6782000,0.003473),('Burkina Faso',1146,22674000,5.1e-05),('Burundi',2135,12890000,0.000166),('Cambodia',2267,16768000,0.000135),('Cameroon',8188,27915000,0.000293),('Canada',285324,38454000,0.00742),('Cape Verde',291,593000,0.000491),('Central African Republic',211,5579000,3.8e-05),('Chad',690,17723000,3.9e-05),('Chile',36874,19604000,0.001881),('China',448480,1425887000,0.000315),('Colombia',18043,51874000,0.000348),('Comoros',316,837000,0.000378),('Costa Rica',2289,5181000,0.000442),('Croatia',14217,4030000,0.003528),('Cuba',9348,11212000,0.000834),('CuraÃ§ao',9,191000,4.7e-05),('Cyprus',4040,1251000,0.003229),('Czech Republic',44144,10494000,0.004207),('Democratic Republic of the Congo',18534,99010000,0.000187),('Denmark',32927,5882000,0.005598),('Djibouti',2090,1121000,0.001864),('Dominican Republic',1421,11229000,0.000127),('Ecuador',6007,18001000,0.000334),('Egypt',39133,110990000,0.000353),('El Salvador',1813,6336000,0.000286),('Equatorial Guinea',623,1675000,0.000372),('Eritrea',6468,3684000,0.001756),('Estonia',6426,1326000,0.004846),('Eswatini',413,1202000,0.000344),('Ethiopia',19998,123380000,0.000162),('Federated States of Micronesia',0,114000,0.0),('Fiji',121,930000,0.00013),('Finland',69685,5541000,0.012576),('France',202160,64627000,0.003128),('French Guiana',784,305000,0.00257),('French Polynesia',46,306000,0.00015),('Gabon',988,2389000,0.000414),('Gambia',138,2706000,5.1e-05),('Georgia',4483,3744000,0.001197),('Germany',431313,83370000,0.005173),('Ghana',10925,33476000,0.000326),('Greece',27104,10385000,0.00261),('Grenada',231,125000,0.001848),('Guadeloupe',807,396000,0.002038),('Guam',5,172000,2.9e-05),('Guatemala',6702,17844000,0.000376),('Guinea',748,13859000,5.4e-05),('Guinea-Bissau',97,2106000,4.6e-05),('Guyana',30,809000,3.7e-05),('Haiti',840,11585000,7.3e-05),('Honduras',3166,10433000,0.000303),('Hong Kong',4982,7489000,0.000665),('Hungary',37087,9967000,0.003721),('Iceland',1405,373000,0.003767),('India',860423,1417173000,0.000607),('Indonesia',41817,275501000,0.000152),('Iran',104230,88551000,0.001177),('Iraq',39875,44496000,0.000896),('Ireland',26412,5023000,0.005258),('Israel',23761,9038000,0.002629),('Italy',186755,59037000,0.003163),('Jamaica',2098,2827000,0.000742),('Japan',79226,123952000,0.000639),('Jordan',6344,11286000,0.000562),('Kazakhstan',5231,19398000,0.00027),('Kenya',23096,54027000,0.000427),('Kiribati',0,131000,0.0),('Kuwait',34544,4269000,0.008092),('Kyrgyzstan',1477,6631000,0.000223),('Laos',1038,7529000,0.000138),('Latvia',4872,1851000,0.002632),('Lebanon',4895,5490000,0.000892),('Lesotho',640,2306000,0.000278),('Liberia',302,5303000,5.7e-05),('Libya',24556,6812000,0.003605),('Lithuania',8822,2750000,0.003208),('Luxembourg',2447,648000,0.003776),('Macao',445,695000,0.00064),('Macedonia',3194,2094000,0.001525),('Madagascar',10732,29612000,0.000362),('Malawi',6534,20405000,0.00032),('Malaysia',7082,33938000,0.000209),('Maldives',456,524000,0.00087),('Mali',856,22594000,3.8e-05),('Malta',2499,533000,0.004689),('Martinique',781,368000,0.002122),('Mauritania',1838,4736000,0.000388),('Mauritius',802,1299000,0.000617),('Mayotte',133,326000,0.000408),('Mexico',89834,127504000,0.000705),('Moldova',6750,3273000,0.002062),('Mongolia',699,3398000,0.000206),('Montenegro',2201,627000,0.00351),('Morocco',124911,37458000,0.003335),('Mozambique',10346,32970000,0.000314),('Myanmar',6984,54179000,0.000129),('Namibia',1293,2567000,0.000504),('Nepal',18094,30548000,0.000592),('Netherlands',80220,17564000,0.004567),('New Caledonia',49,290000,0.000169),('New Zealand',18126,5185000,0.003496),('Nicaragua',2039,6948000,0.000293),('Niger',1179,26208000,4.5e-05),('Nigeria',51035,218541000,0.000234),('North Korea',10808,26069000,0.000415),('Norway',41344,5434000,0.007608),('Oman',6386,4576000,0.001396),('Pakistan',19851,235825000,8.4e-05),('Palestine',2489,5250000,0.000474),('Panama',1755,4409000,0.000398),('Papua New Guinea',142,10143000,1.4e-05),('Paraguay',1620,6781000,0.000239),('Peru',5798,34050000,0.00017),('Philippines',16443,115559000,0.000142),('Poland',119995,39857000,0.003011),('Portugal',38515,10271000,0.00375),('Puerto Rico',15384,3252000,0.004731),('Qatar',20340,2695000,0.007547),('Republic of Congo',1917,5970000,0.000321),('RÃ©union',415,974000,0.000426),('Romania',43174,19659000,0.002196),('Russia',336901,144713000,0.002328),('Rwanda',3651,13777000,0.000265),('Samoa',28,222000,0.000126),('Sao Tome and Principe',93,227000,0.00041),('Saudi Arabia',241348,36409000,0.006629),('Senegal',6245,17316000,0.000361),('Serbia',23377,7221000,0.003237),('Seychelles',60,107000,0.000561),('Sierra Leone',335,8606000,3.9e-05),('Singapore',6187,5976000,0.001035),('Slovakia',21545,5643000,0.003818),('Slovenia',6559,2120000,0.003094),('Solomon Islands',0,724000,0.0),('Somalia',21182,17598000,0.001204),('South Africa',31536,59894000,0.000527),('South Korea',35128,51816000,0.000678),('South Sudan',8261,10913000,0.000757),('Spain',206944,47559000,0.004351),('Sri Lanka',14094,21832000,0.000646),('St Lucia',373,180000,0.002072),('St Vincent and the Grenadines',229,104000,0.002202),('Sudan',50447,46874000,0.001076),('Suriname',28,618000,4.5e-05),('Sweden',99411,10549000,0.009424),('Switzerland',26642,8740000,0.003048),('Syria',7324,22125000,0.000331),('Taiwan',21802,23893000,0.000912),('Tajikistan',3581,9953000,0.00036),('Tanzania',22263,65498000,0.00034),('Thailand',11408,71697000,0.000159),('Timor L-Este',199,1341000,0.000148),('Togo',444,8849000,5e-05),('Tonga',14,107000,0.000131),('Trinidad and Tobago',2961,1531000,0.001934),('Tunisia',29959,12356000,0.002425),('Turkey',143396,85341000,0.00168),('Turkmenistan',8774,6431000,0.001364),('Uganda',16087,47250000,0.00034),('Ukraine',128701,39702000,0.003242),('United Arab Emirates',13263,9441000,0.001405),('United Kingdom',413042,67509000,0.006118),('United States',1447298,338290000,0.004278),('United States Virgin Islands',296,99000,0.00299),('Uruguay',10546,3423000,0.003081),('Uzbekistan',13215,34628000,0.000382),('Vanuatu',39,327000,0.000119),('Venezuela',1387,28302000,4.9e-05),('Viet Nam',14780,98187000,0.000151),('Western Sahara',54,576000,9.4e-05),('Yemen',16313,33697000,0.000484),('Zambia',7299,20018000,0.000365),('Zimbabwe',5000,16321000,0.000306);"

In [109]:
cursor.execute(insert_query)

In [110]:
conn.commit()

In [111]:
conn.close()