# Patient records from Excel_data preprocessing

In addition to the Diabet app, carb intake, blood glucose levels and insulin delivery were recorded in Excel. This data was also used for further analysis.

In [1]:
import pandas as pd
import numpy as np

### 1. Data exploration

The data recorded in Excel was the most disorganised. There were numerous empty rows and missing values, unnecessary columns, times documented descriptively (e.g. waking-up, dinner, etc.), and typos.

In [2]:
pr = pd.read_csv('PatientRecords_Excel.csv')

In [3]:
pr.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ESTIMATED UC,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,date,time,NaN,"BG, before meal",1,2.0,3.0,4.0,5,...,NaN,cur/est,NaN,UCProtein,UCCarb,UC P+C,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,waking up,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,june,6/10/2019,NaN,breakfast,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,6/10/2019,NaN,lunch,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,6/10/2019,NaN,dinner,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,total,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,waking up,4.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,6/11/2019,NaN,breakfast,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,6/11/2019,NaN,lunch,3.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2. Data cleaning

All columns with empty or unnecessary values were dropped, and the remaining columns were appropriately renamed. Subsequently, empty rows were removed and any missing or improperly formatted dates were replaced with appropriate values and converted to datetime objects. The values in the numeric columns were converted into the appropriate data types. Errors occurring due to manual data entries were fixed accordingly.

In [4]:
#removing empty NaN columns
pr.dropna(axis=1,how='all',inplace=True)
pr.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 44,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,changes by CURRENT DAY,NaN,NaN,NaN,ESTIMATED UC,NaN,NaN,NaN,NaN,NaN
2,NaN,date,time,NaN,"BG, before meal",1,2.0,3.0,4.0,5,...,UCProtein,UCCarb,UC P+C,cur/est,UCProtein,UCCarb,UC P+C,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,waking up,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#removing columns with unnecessary information
pr.drop(columns=pr.iloc[:, np.r_[0,5:14,15:18,19,21:len(pr.columns)]],inplace=True)
pr.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 14,Unnamed: 18,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,insulin,NaN
2,date,time,NaN,"BG, before meal","net carb without fibre, g",Base,Short
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,waking up,NaN,NaN,7,0.5

In [6]:
#renaming columns
pr.rename(columns={pr.columns[0]:'Date',pr.columns[1]:'Time',pr.columns[2]:'PartOfTheDay',pr.columns[3]:'BG',
                  pr.columns[4]:'DV',pr.columns[5]:'bID',pr.columns[6]:'shID'},inplace=True)
pr.head()

,Date,Time,PartOfTheDay,BG,DV,bID,shID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,insulin,NaN
2,date,time,NaN,"BG, before meal","net carb without fibre, g",Base,Short
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,waking up,NaN,NaN,7,0.5

In [7]:
#creating a new DF keeping only the rows with 'PartOfTheDay' values 'waking up','breakfast','lunch','dinner' and 'night'
pr = pr[(pr['PartOfTheDay'] == 'waking up')|(pr['PartOfTheDay'] == 'breakfast')|(pr['PartOfTheDay'] == 'lunch')|
        (pr['PartOfTheDay'] == 'dinner')|(pr['PartOfTheDay'] == 'night')]
pr = pr.reset_index(drop=True)
pr.head()

        Date Time PartOfTheDay   BG   DV  bID shID
0        NaN  NaN    waking up  NaN  NaN    7  0.5
1  6/10/2019  NaN    breakfast  NaN  NaN  NaN    2
2  6/10/2019  NaN        lunch  NaN  NaN  NaN    3
3  6/10/2019  NaN       dinner  NaN  NaN    1    2
4        NaN  NaN    waking up  4.4  NaN    7  0.5

In [8]:
#filling in missing dates for CP 'waking up' & 'night'
for i in pr.index:
    if pr.loc[i,'PartOfTheDay'] == 'waking up':
        pr.loc[i,'Date'] = pr.loc[i+1,'Date']
    elif pr.loc[i,'PartOfTheDay'] == 'night':
        pr.loc[i,'Date'] = pr.loc[i-1,'Date']

In [9]:
#checking if there are missing dates
pr['Date'].isna().sum()

0

In [10]:
#filling missing time values depending on PartOfTheDay
for i in pr.index:
    
    if pd.isnull(pr.at[i,'Time']):
        
        if pr.loc[i,'PartOfTheDay'] == 'waking up':
            pr.loc[i,'Time'] = '07-00'
        elif pr.loc[i,'PartOfTheDay'] == 'breakfast':
            pr.loc[i,'Time'] = '08-00'
        elif pr.loc[i,'PartOfTheDay'] == 'lunch':
            pr.loc[i,'Time'] = '13-00'
        elif pr.loc[i,'PartOfTheDay'] == 'dinner':
            pr.loc[i,'Time'] = '18-30'
        elif pr.loc[i,'PartOfTheDay'] == 'night':
            pr.loc[i,'Time'] = '22-00'

In [11]:
#checking if there are missing times
pr['Time'].isna().sum()

0

In [12]:
#some of the time values were recorded in a 00-00/00-00 format
#creating a new value by keeping only the first part before /
pr.loc[pr['Time'].str.contains('/','Time'),'Time'] = pr['Time'].str.split('/')[0]

In [13]:
#concatenating the 'Date' and the 'Time' columns
pr['Date'] = pr['Date'] + ' ' + pr['Time']

In [14]:
#removing the 'Time' column
pr.drop(['Time','PartOfTheDay'],axis=1,inplace=True)

In [15]:
#preparing the 'Date' column for the data conversion, converting 00-00 time format into 00:00 
pr['Date'] = pr['Date'].str.replace('-',':')
pr.head()

              Date   BG   DV  bID shID
0  6/10/2019 07:00  NaN  NaN    7  0.5
1  6/10/2019 08:00  NaN  NaN  NaN    2
2  6/10/2019 13:00  NaN  NaN  NaN    3
3  6/10/2019 18:30  NaN  NaN    1    2
4  6/11/2019 07:00  4.4  NaN    7  0.5

In [16]:
#converting dtypes in the'Date' column into datetime type
pr['Date']= pd.to_datetime(pr['Date'])

ParserError: hour must be in 0..23: 7/12/2019 24:00 present at position 152

In [17]:
#fixing ParserError: hour must be in 0..23: 23.07.2019 24:00
pr.loc[pr['Date'].str.contains('24:'),'Date'] = pr['Date'].str.replace('24:','00:')

In [18]:
#converting dtypes in the'Date' column into datetime type
pr['Date']= pd.to_datetime(pr['Date'])

ParserError: Unknown string format: 16.09.2019 no lunch present at position 536

In [19]:
#fixing ParserError: Unknown string format: 16.09.2019 no lunch
pr.loc[pr['Date'].str.contains('no lunch'),'Date'] = pr['Date'].str.replace('no lunch','12:30')

In [20]:
#converting dtypes in the'Date' column into datetime type
pr['Date']= pd.to_datetime(pr['Date'])

ParserError: day is out of range for month: 31.11.2019 07:00 present at position 990

In [21]:
#fixing ParserError: day is out of range for month: 31.11.2019 07:00
#getting index positions of those dates
pr.loc[pr['Date'].str.contains('31.11.2019'),'Date']

990    31.11.2019 07:00
991    31.11.2019 08:00
992    31.11.2019 13:00
993    31.11.2019 18:30
994    31.11.2019 22:00
995    31.11.2019 22:00
Name: Date, dtype: object

In [22]:
#removing those rows and resetting the index
pr.drop(pr.index[990:996],inplace=True)

In [23]:
#resetting the index
pr = pr.reset_index(drop=True)

In [24]:
pr['Date']= pd.to_datetime(pr['Date'])

In [25]:
pr.head()

                 Date   BG   DV  bID shID
0 2019-06-10 07:00:00  NaN  NaN    7  0.5
1 2019-06-10 08:00:00  NaN  NaN  NaN    2
2 2019-06-10 13:00:00  NaN  NaN  NaN    3
3 2019-06-10 18:30:00  NaN  NaN    1    2
4 2019-06-11 07:00:00  4.4  NaN    7  0.5

In [26]:
pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2891 non-null   datetime64[ns]
 1   BG      1253 non-null   object
 2   DV      1193 non-null   object
 3   bID     519 non-null    object
 4   shID    1209 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 113.1+ KB

In [27]:
#filling NaN with O in numeric columns
pr[['BG','DV','bID','shID']] = pr[['BG','DV','bID','shID']].fillna('0')

In [28]:
#converting to float numbers
pr[['BG','DV','bID','shID']] = pr[['BG','DV','bID','shID']].astype(float)

ValueError: could not convert string to float: '  -     '

In [29]:
#fixing ValueError: could not convert string to float: '  -     '
pr.loc[pr['BG'].str.contains('  -     '),:]

                   Date        BG DV bID shID
359 2019-08-17 03:30:00    -       0   2    0

In [30]:
pr.loc[359,'BG'] = '0'

In [31]:
pr[['BG','DV','bID','shID']] = pr[['BG','DV','bID','shID']].astype(float)

ValueError: could not convert string to float: '3*0,9DEXTR'

In [32]:
#fixing ValueError: could not convert string to float: '3*0,9DEXTR'
pr.loc[pr['bID'].str.contains('3*0,9DEXTR'),:]

                    Date   BG DV         bID shID
2615 2021-09-07 22:00:00  2.8  0  3*0,9DEXTR    0

In [33]:
pr.loc[2615,'bID'] = '0'

In [34]:
pr[['BG','DV','bID','shID']] = pr[['BG','DV','bID','shID']].astype(float)

ValueError: could not convert string to float: 'no breakfast'

In [35]:
#fixing ValueError: could not convert string to float: 'no breakfast'
pr.loc[pr['shID'].str.contains('no breakfast'),:]

                   Date   BG    DV bID          shID
445 2019-01-09 09:00:00  4.3  5.53   0  no breakfast

In [36]:
pr.loc[445,'shID'] = '0'

In [37]:
pr[['BG','DV','bID','shID']] = pr[['BG','DV','bID','shID']].astype(float)

In [38]:
pr

                    Date   BG    DV  bID  shID
0    2019-06-10 07:00:00  0.0  0.00  7.0   0.5
1    2019-06-10 08:00:00  0.0  0.00  0.0   2.0
2    2019-06-10 13:00:00  0.0  0.00  0.0   3.0
3    2019-06-10 18:30:00  0.0  0.00  1.0   2.0
4    2019-06-11 07:00:00  4.4  0.00  7.0   0.5
...                  ...  ...   ...  ...   ...
2886 2021-08-24 07:00:00  2.8  0.00  3.0   0.0
2887 2021-08-24 07:00:00  5.1  4.51  0.0   3.0
2888 2021-08-24 07:00:00  3.9  7.85  0.0   3.0
2889 2021-08-24 07:00:00  4.7  7.08  0.0   3.0
2890 2021-08-24 22:00:00  5.9  0.00  1.5   0.0

[2891 rows x 5 columns]

In [39]:
#Converting dietary value to bread units
pr['DV'] = pr['DV']/10

In [40]:
pr.to_csv('PatientRecords_E.csv',index=False)