# Historical weather records_data preprocessing

Weather data was acquired from visulacrossing.com, containing weather records per hour from 2019 to 2021.

In [1]:
import pandas as pd

### 1. Data exploration

Temperature and humidity were chosen from all parameters for further analysis due to their ease of recording in the future. Other parameters were disregarded as they are typically dependent or a consequence of either temperature or humidity.

In [2]:
wd = pd.read_csv('WeatherKhabarovsk20190101-20211231.csv')
wd

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,khabarovsk,2019-01-01T00:00:00,-17.0,-27.8,-24.0,54.57,0.00,0,NaN,0.04,...,NaN,0.0,10.0,0.0,NaN,0,NaN,Clear,snow,"UHHH,31735099999"
1,khabarovsk,2019-01-01T01:00:00,-17.1,-27.9,-24.0,54.97,0.00,0,NaN,0.04,...,1021.8,50.0,10.2,0.0,NaN,0,NaN,Partially cloudy,snow,"31733099999,UHHH,31735099999"
2,khabarovsk,2019-01-01T02:00:00,-17.0,-27.8,-24.0,54.57,0.00,0,NaN,0.04,...,NaN,0.0,10.0,0.0,NaN,0,NaN,Clear,snow,"UHHH,31735099999"
3,khabarovsk,2019-01-01T03:00:00,-17.0,-27.0,-23.0,59.64,0.00,0,NaN,0.04,...,NaN,0.0,10.0,0.0,NaN,0,NaN,Clear,snow,"UHHH,31735099999"
4,khabarovsk,2019-01-01T04:00:00,-16.2,-27.1,-23.0,55.59,0.00,0,NaN,0.04,...,1020.8,89.1,10.2,0.0,NaN,0,NaN,Partially cloudy,snow,"31733099999,UHHH,31735099999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26299,khabarovsk,2021-12-31T19:00:00,-25.2,-37.2,-30.2,63.06,0.01,100,snow,0.00,...,1017.8,92.3,9.4,0.0,NaN,0,NaN,"Snow, Overcast",snow,"31733099999,UHHH,31735099999"
26300,khabarovsk,2021-12-31T20:00:00,-25.0,-37.2,-29.0,69.27,0.00,0,NaN,0.00,...,1017.0,88.7,5.0,0.0,NaN,0,NaN,Partially cloudy,partly-cloudy-night,"UHHH,31735099999"
26301,khabarovsk,2021-12-31T21:00:00,-24.0,-35.9,-27.0,76.22,0.00,0,NaN,0.00,...,1017.0,88.7,4.0,0.0,NaN,0,NaN,Partially cloudy,partly-cloudy-night,"UHHH,31735099999"
26302,khabarovsk,2021-12-31T22:00:00,-23.0,-34.1,-27.0,69.98,0.00,0,NaN,0.00,...,1017.8,92.3,4.7,0.0,NaN,0,NaN,Overcast,cloudy,"31733099999,UHHH,31735099999"
26303,khabarovsk,2021-12-31T23:00:00,-22.0,-32.4,-27.0,63.85,0.00,0,NaN,0.00,...,1018.0,0.0,9.0,0.0,NaN,0,NaN,Clear,clear-night,"UHHH,31735099999"

### 2. Data cleaning

A data frame was created containing three columns, which were subsequently renamed Date, Temp and Humid. The values in the Date column were converted into datetime objects.

In [5]:
#creating a new data frame
wd = wd[['datetime','temp','humidity']]
wd.head()

              datetime  temp  humidity
0  2019-01-01T00:00:00 -17.0     54.57
1  2019-01-01T01:00:00 -17.1     54.97
2  2019-01-01T02:00:00 -17.0     54.57
3  2019-01-01T03:00:00 -17.0     59.64
4  2019-01-01T04:00:00 -16.2     55.59

In [6]:
#renaming columns
wd.rename(columns={'datetime':'Date','temp':'Temp','humidity':'Humid'},inplace=True)

In [7]:
#converting to datetime objects
wd['Date']= pd.to_datetime(wd['Date'])

In [10]:
wd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    26304 non-null  datetime64[ns]
 1   Temp    26304 non-null  float64
 2   Humid   26304 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 616.6 KB

In [11]:
wd = wd.reset_index(drop=True)

In [13]:
wd

                     Date  Temp  Humid
0     2019-01-01 00:00:00 -17.0  54.57
1     2019-01-01 01:00:00 -17.1  54.97
2     2019-01-01 02:00:00 -17.0  54.57
3     2019-01-01 03:00:00 -17.0  59.64
4     2019-01-01 04:00:00 -16.2  55.59
...                   ...   ...    ...
26299 2021-12-31 19:00:00 -25.2  63.06
26300 2021-12-31 20:00:00 -25.0  69.27
26301 2021-12-31 21:00:00 -24.0  76.22
26302 2021-12-31 22:00:00 -23.0  69.98
26303 2021-12-31 23:00:00 -22.0  63.85

[26304 rows x 3 columns]

In [14]:
wd.to_csv('WeatherData.csv',index=False)